@import '/src/style/styles.scss';

#roulette {
    width: 100%;
    
    .container-roulette {
        position: relative;
        width: 100%;
        height: 17.5rem;

        margin-top: .8rem;
        
        .preview, .next {
            position: absolute;
            width: 4rem;
            height: 4rem;
            
            border-radius: 50%;
            padding: 0;
            border-width: .2rem;

            transition: all .2s ease-in-out;
        }
        .preview { left: -5.6rem }
        .next { right: -5.6rem; }

        .content {
            position: relative;
            overflow-x: hidden;
            width: 100%;
            height: 100%;

            .newsitem-list {
                position: absolute;
    
                gap: 1.6rem;
    
                .newsitem-empty {
                    background-color: mix($primeDark, #ffffff00, 15%);
                }
        
                .newsitem {
                    position: relative;
                    width: 30rem;
                    height: 17.5rem;

                    transition: transform .5s ease-in-out;
    
                    .newsitem-image {
                        position: absolute;
                        width: 100%;
                        height: 100%;
        
                        object-fit: cover;
    
                    }
    
                    .newsitem-info {
                        width: 100%;
                        height: 40%;
    
                        z-index: 1;
    
                        box-sizing: border-box;
                        padding: 1.6rem;
                    }
                }
            }
        }
    }
}